#text{
  height: 400px;
  width: 1050px;
  padding: 0;

}
h1{
  text-align: center;
  color: #ffa500;
}
.title{
  margin-left: 150px;
  margin-right: 150px;
}
#imageDiv{
  height: 450px;
  width: 630px;
  position: fixed;
}
.downloadLink{
  height: 400px;
  width: 400px;
  float: right;
  /*margin-left: 400px;*/
}
