h1{
  text-align: center;
  font-size: 35px;
  color: #ffa500;
}
h2{
  text-align: left;
  font-size: 30px;
}
form{
  font-size: 25px;
  margin-left: 150px;
  margin-right: 150px;
}
#info{
  border: 0px;
}
object{
  padding-top: 20px;
  width: 600px;
  height: 500px;
}
textarea{
  font-size: 15px;
}
